@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Timmer.Web.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" />
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.ProductCategory): @Html.DisplayFor(modelItem => item.ProductCategory.Name)
                    <br />
                    @Html.DisplayNameFor(model => model.ProductMake): @Html.DisplayFor(modelItem => item.ProductMake.Name)
                    <br />
                    @Html.DisplayNameFor(model => model.Model): @Html.DisplayFor(modelItem => item.Model)
                    <br />
                    @Html.DisplayNameFor(model => model.ProductLocation): @Html.DisplayFor(modelItem => item.ProductLocation.Name)
                    <br />
                    @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(modelItem => item.Title)
                    <br />
                    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(modelItem => item.Description)
                    <br />
                    @Html.DisplayNameFor(model => model.NewUsed): @Html.DisplayFor(modelItem => item.NewUsed)
                    <br />
                    @Html.DisplayNameFor(model => model.StockNumber): @Html.DisplayFor(modelItem => item.StockNumber)
                    <br />
                    @Html.DisplayNameFor(model => model.Year): @Html.DisplayFor(modelItem => item.Year)
                    <br />
                    @Html.DisplayNameFor(model => model.Hours): @Html.DisplayFor(modelItem => item.Hours)
                    <br />
                    @Html.DisplayNameFor(model => model.EngineHorsePower): @Html.DisplayFor(modelItem => item.EngineHorsePower)
                    <br />
                    @Html.DisplayNameFor(model => model.Drive): @Html.DisplayFor(modelItem => item.Drive)
                    <br />
                    @Html.DisplayNameFor(model => model.SerialNumber): @Html.DisplayFor(modelItem => item.SerialNumber)
                    <br />
                    @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(modelItem => item.Price)
                    <br />

                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <span>|</span> <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
